@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

.footer {
  display: flex;
  padding: 2rem 0;
  background-color: lightyellow;

  justify-content: center;
  align-items: center;
  color: black;
}



.image {
  width: 27%;
  height: 40%;
}
.flex_left
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
}

.title {
  font-size: 3rem;
  color: black;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif; 
color: gray;


}.description_1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif; 
color: black;


}


.button {
  border-radius: 14px;
font-weight: 600;
  background-color: #ff6b6c;font-family: "Poppins", sans-serif;
  border: black;
  color: white;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
}


.test{
  background-color: white;
color: black;
justify-content: center;


}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.section {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;
}
.sectionbottommarginwfsection{
  padding-bottom: 140px;
}

   
.horizontalcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 20px;
}

   
.smallcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 16px;
}

.h2text{

  z-index: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}

.textsmall1{
  padding-right: 20x;
    z-index: 100;line-height: 30px;font-size: 16px;
    margin-bottom: 0px;
    color: #49535c;
    font-family: "Poppins", sans-serif; 
}
.textsmall{
padding-top: 20px;
    z-index: 100;line-height: 30px;font-size: 16px;
    margin-bottom: 0px;
    color: #49535c;
    font-family: "Poppins", sans-serif; 
  
}
.maingridfeature{
  justify-items: start;
  grid-column-gap: 12px;
  grid-row-gap: 4px;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
}
.boldtext{
  position: relative;
  z-index: 100;
  margin-bottom: 0px;
  color: #17191b;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.banner{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  background-color: #615cff;
  background-image: -webkit-gradient(linear, left top, right top, from(#615cff), color-stop(70%, #ff80b1), to(#f3b500));
  background-image: linear-gradient(90deg, #615cff, #ff80b1 70%, #f3b500);
  color: #fff;
}

.bannerlink{
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}


@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 5%;
  }
  .flex_left
  {
    align-items: center;
  }
  .image
  {
    width: 50%;
    height: 50%;
    margin-left: 5%;
  }
  .horizontalcontainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;row-gap: 20px;
  }.test
  {
    justify-content: center;
    display: flex;padding: 8%;
  }
}