.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  gap: 50px;
  background-color: white;
}

.footer {
  display: flex;
  padding: 2rem 0;
  background-color: lightyellow;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: black;
}
.image {
  width: 30%;
  height: 20%;
}

.title {
  font-size: 2rem;
  color: black;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: black;
}

.button {
  border-radius: 4px;
  background-color: yellow;
  border: none;
  color: black;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}.flex_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
  }.image {
    width: 50%;
    height: 50%;
    margin-left: 5%;
  }
  
}