

.main {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  gap: 50px;
  background-color: white;
}

.footer {
  display: flex;
  padding: 2rem 0;
  background-color: lightyellow;

  justify-content: center;
  align-items: center;
  color: black;
}



.image {
  width: 30%;
  height: 30%;
  margin-left: 40%;
}

.title {
  font-size: 2rem;
  color: black;
  margin-left: 30%;

  font-family: "Roboto", sans-serif;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  color: black;
  margin-left: 30%;
  font-family: "Open Sans", sans-serif; 
  white-space: nowrap;
color: gray;
  text-overflow: ellipsis;


}

.button {
  border-radius: 14px;

  background-color: #ff6b6c;
  border: black;
  color: black;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 2%;
  margin-left: 40%;

  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.test{
  background-color: white;
color: pink

}